services:
  app:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - ./templates:/app/templates
      - ./generated_docs:/app/generated_docs
      - ./db:/app/db
      - ./app:/app/app
    dns:
      - 8.8.8.8
      - 1.1.1.1

volumes:
  templates:
  generated_docs:
  db_data: 